<header>
    <div class="logo">
        <h1> <a href="/">SOBDARTHO</a> </h1>
    </div>
</header>

<nav>
    <div class="button">
        <p onclick="toggle()">MENUS ︾</p>
    </div>
    <ul id="navbar" class="hidden">
        <li><a href="/dictionary" class="active one">English to Bangla</a></li>
        <li><a href="/bengali-to-english" class="active two">Bangla to English</a></li>
        <li><a href="/bengali-to-bengali" class="active three">Bangla to Bangla</a></li>
        <!-- <li><a href="/blog" class="active four">Blog</a></li> -->
        <li><a href="/calculator" class="active four">Calculator</a></li>
    </ul>
</nav>

<!-- Ezoic - top_of_page - top_of_page -->
<div id="ezoic-pub-ad-placeholder-103"> 

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4942404864764189"
     crossorigin="anonymous"></script>
<!-- ezoic-00 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4942404864764189"
     data-ad-slot="8480713647"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
<!-- End Ezoic - top_of_page - top_of_page -->